{% extends 'base.html.twig' %}

{% block title %}Blog index {{ naam }}{% endblock %}

{% block album %}<h1 class="container">Hier kan ik ook iets in block album zetten</h1>{% endblock %}

{% block body %}

    <h1>Blog index {{ naam }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Moment</th>
                <th>Tekst</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.moment ? blog.moment|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ blog.tekst }}</td>
                <td>{{ blog.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">show</a>
                    <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blog_new') }}">Create new</a>

{% endblock %}
